#fondoBancaVersitaria{
    background-color: #62B6D3;
}
#nav1{
    background-color: #70BCD6;
}
#aside1{
    background-color: #7FC1D8;
}
#section1{
    background-color: #8CCADF;
}
#footer1{
    background-color: #E5F8FF;
}